:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --bg-primary: #252526;
  --bg-secondary: #141418;
}

body {
  color: rgb(0, 17, 255);
  background: rgba(161, 159, 159, 0.777);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(10deg, #e6e6e6, #a8d6f5, #f7d298, #a0d4f798);
  background-size: 400% 400%;
  animation: animacionDegrade 5s linear infinite;
}
@keyframes animacionDegrade {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 1rem;
  height: 0;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background: #000dffd7;
}

/* =====================================   Estilos barra de navegacion  =========================================== */

.navbar {
  user-select: none;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: width 0.6s ease;
  z-index: 5; /* Asegurar que esté en la parte superior de otros elementos */  
  display: unset;
  --bs-navbar-padding-x: unset;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.5s;
  z-index: 100;
}
.nav-link-menu {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: 0.5s;
  margin-top: -3px;
}
.nav-link:hover {
  color: #000dffd7;
}
.link-text {
  display: none;
  margin-left: 1.5rem;
}
.link-icon {
  font-size: 2rem;
  margin-left: 1.5rem;
}
.link-icon-io {
  font-size: 2.2rem;
  margin-left: 1.5rem;
  color: #000dffd7;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Aplicar desenfoque al contenido cuando la barra de navegación se expande */
.navbar:hover ~ .contenido-a-desenfocar {
  filter: blur(2px); /* Valor de desenfoque  */
}

/* ==========================================   Estilos para la barra de búsqueda     ==================================*/
.barra-busqueda {
  background: var(--bg-secondary);
  padding: 1.3rem 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;  /* Fijar la barra en la parte superior */
  width: 99%;  /* Ocupar el 100% del ancho */
}

.entrada-busqueda {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255); 
  border: 2.5px solid #000dffd7; /* Borde */
  border-radius: 7px;
  width: 30%; /* Hacerlo 100% de ancho */
  height: 35px;
  margin-left: 30px;
}

.entrada-busqueda input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  font-weight: bold; /* texto en negrita*/
  margin-left: 2%;
  width: 90%;
  margin-left: 30px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: black; /* color texto barra busqueda*/
}

.icono-busqueda {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  margin-right: 10px;
}

.vendedor {
  display: flex;
  align-items: center;
  margin-right: 9%;
}

.icono-vendedor {
  color: #000dffd7;
  font-size: 1.5rem;
  margin-right: 2rem;

}

.nombre-vendedor {
  color: white;
  font-weight: bold;
  margin-right: 90px;
}

/* Estilo personalizado para la etiqueta <thead> con la clase "contenedor-datos" */
.bordes-izq {
  border-bottom-left-radius: 15px !important; /* Aplica un radio de borde de 15px */
  border-top-left-radius: 15px !important;
}

.bordes-der {
  border-right: 15px !important; /* Aplica un radio de borde de 15px */
  border-top-left-radius: 15px !important;
}


/* ========================================= Estilo Inventario ========================================= */

.tabla-inventario {
  background: transparent;
  padding: 130px 15%; /* Ajustado para una presentación más compacta */
  width: 75%; /* Ancho ajustado para una mejor visualización */
}

.tabla-usuario, .tabla-usuario, .tabla-ventas {
  background:#ffffff;
  padding: 22px; /* Ajustado para una presentación más compacta */
  margin: 40px 100%; /* Centrar la tabla en el contenedor */
  width: 75%; /* Ancho ajustado para una mejor visualización */
  overflow-x: auto; /* Barra de desplazamiento horizontal cuando sea necesario */
}

.table {
  width: 100%;
  border-collapse: collapse; /* Evitar espacios innecesarios entre celdas */
  border-collapse: separate; /* Utiliza el modelo de caja separada para el espaciado */
  border-spacing: 0 10px; /* Agrega un espaciado vertical de 10px entre filas */
}


th, td {
  user-select: none;
  background:#ffffff;
  padding: 12px; /* Espaciado en celdas para mejorar la legibilidad */
  text-align: center; /* Alineación del texto a la izquierda */
  color: #000000;
}

 /* Estilos para la imagen del producto */
 td img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 100px; /* Ajusta la altura máxima según tus preferencias */
  height: auto;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

th {
  position: sticky;
  user-select: none;
  background-color: var(--bg-primary); /* Fondo para las celdas del encabezado */
  color: #fff; /* Texto en color blanco en el encabezado */
}

/* Estilos para los iconos de editar y eliminar */
.icono-editar {
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  color: #000dffd7; /* Cambia el color si es necesario */
}

.icono-eliminar {
  user-select: none;
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  color: red; /* Cambia el color si es necesario */
}


/* Estilos para el botón de Pagar en el carrito */
.boton-pagar {
  position: relative;
  user-select: none;
  background-color: #358911d7;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffffff;
  margin-right: 1%;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 133px;
}

.boton-pagar:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: #358911; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(53, 137, 17, 0.7); /* Agrega un efecto de destello */
}

.fila-titulos {
  user-select: none; /* Evita la selección de texto en la fila de títulos */
  background-color: var(--bg-primary); /* Fondo de la fila de títulos */
  color: #fff; /* Color del texto en la fila de títulos */
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 190px;
}

.fila-detalles {
  max-height: 90%;
}

.boton-pagar2 {
  user-select: none;
  background-color: #000dffd7;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffffff;
  margin-right: 1%;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 133px;
}


.boton-pagar2:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: #000dff; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(0, 13, 255, 0.7); /* Agrega un efecto de destello */
}


.boton-pagar3 {
  user-select: none;
  background-color: rgba(219, 10, 10, 0.843);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffffff;
  margin-right: 1%;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 133px;
}

.boton-pagar3:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: rgba(219, 10, 10, 0.5); /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(219, 10, 10, 0.7); /* Agrega un efecto de destello */
}


.boton-pagar4 {
  user-select: none;
  background-color: rgba(249, 194, 30, 0.843);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffffff;
  margin-right: 1%;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 133px;
}

.boton-pagar4:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: rgba(249, 194, 30, 0.5); /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(249, 194, 30, 0.7); /* Agrega un efecto de destello */
}


.boton-pagar5 {
  user-select: none;
  background-color: rgba(68, 68, 67, 0.843);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffffff;
  margin-right: 1%;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 133px;
}

.boton-pagar5:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: rgba(68, 68, 67, 0.5); /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(68, 68, 67, 0.7); /* Agrega un efecto de destello */
}


.boton-pagar-mas {
  user-select: none;
  background-color: #358911d7;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 15px;
  border-color: #ffffff;
  margin-right: 1%;
  width: 50%; /* Ajusta el valor en píxeles según el ancho deseado */
  margin: 0 auto;
  height: 40px;
  display: block;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: -webkit-sticky;
  margin-top: 10%;
}
.boton-pagar-mas:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: #358911; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(53, 137, 17, 0.7); /* Agrega un efecto de destello */
}

.boton-pagar-mas ion-icon {
  font-size: 25px; /* Ajusta el tamaño del icono según tus preferencias */
  font-weight: bold; /* Aplica negrita al icono */
  /* Otros estilos del icono, como color, pueden seguir aquí */
}


/* ======================================== VISTA AGREGAR USUARIOS ========================================== */
/* Estilos para el popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.popup-contenido {
  background: linear-gradient(10deg, #e6e6e6, #a8d6f5, #f7d298, #a0d4f7);
  border: 2px solid #000dffd7;
  border-radius: 15px;
  max-width: 25%;
  max-height: 95%;
  min-width: 50%;
  min-height: 40%;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 8%;
  margin-bottom: 20px; /* Ajusta el valor según el espacio deseado */
  flex: 2;
  animation: animacionDegrade 5s linear infinite;
  overflow-y: auto;
  justify-content: center;
}

.popup2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
}
.popup-contenido2 {
  background: linear-gradient(10deg, #e6e6e6, #a8d6f5, #f7d298, #a0d4f7);
  border: 2px solid #000dffd7;
  border-radius: 15px;
  max-width: 60%;
  max-height: 75%;
  min-width: 30%;
  min-height: 40%;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 8%;
  margin-bottom: 20px; /* Ajusta el valor según el espacio deseado */
  flex: 2;
  animation: animacionDegrade 5s linear infinite;
  overflow-y: auto;
  justify-content: center;
}

/* Estilos para la fila de elementos en el popup */
.popup-contenido .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popup-contenido {
  background: linear-gradient(10deg, #e6e6e6, #a8d6f5, #f7d298, #a0d4f7);
  border: 2px solid #000dffd7;
  border-radius: 15px;
  max-width: 10%;
  max-height: 75%;
  min-height: 20%;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 8%;
  margin-bottom: 20px; /* Ajusta el valor según el espacio deseado */
  flex: 2;
  animation: animacionDegrade 5s linear infinite;
  overflow-y: auto;
}
@keyframes animacionDegrade {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.popup-contenido::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento */
  height: 5px;
}

.popup-contenido::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo de la barra de desplazamiento */
  width: 7x;
}

.popup-contenido::-webkit-scrollbar-thumb {
  background: #000dffd7; /* Color de la barra de desplazamiento */
  border-radius: 3px; /* Borde redondeado de la barra de desplazamiento */
  width: 14px;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-element {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-element input {
  display: flex;
  align-items: center;
  min-width: 50%;
}

.form-element button {
  height: 100%;
  margin-left: 10px;
  align-self: center;
  /* Otros estilos que desees aplicar al botón */
}



label {
  text-align: right;
  width: 150px; /* Ancho fijo para los labels */
  margin-right: 10px; /* Espacio entre el label y el input */
}

input, select {
  flex: 1;
  margin: 0; /* Elimina cualquier margen interno de los input o select */
}


/* Estilos para el botón de cierre en la esquina superior derecha */
.cerrar-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  cursor: pointer;
  font-size: 24px;
}

.entrada-busqueda input,
.entrada-busqueda button {
  width: 50%; /* Ajusta según sea necesario */
}

/* Estilos para los botones de pago en el popup */
.boton-pago {
  user-select: none;
  background-color: #000dffd7;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 15px;
  border-color: #ffffff;
}

.boton-pago-salir {
  user-select: none;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para los elementos dentro del popup */
.popup-contenido label {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: left;
  margin-right: 10px; /* Ajusta según sea necesario */
}

.popup-contenido .row.text-center .col {
  display: flex;
  align-items: center;
}

/* Estilos para los campos de entrada y selección en el popup */
.popup-contenido input,
.popup-contenido select {
  padding: 5px;
  border: 2px solid #000000d7;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fixed{
  position: absolute;
}

.dashboard {
  position: absolute;
  
  top: 90px; /* Adjust this value to move it down */
  left: 100px; /* Adjust this value to move it to the right */
  width: 93%;
  height: 700px;
}

.botonroles{
  border: none;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: #358911d7;
  color: white;
  cursor: pointer;
  width: 9%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.botonroles:hover {
  /* Estilos cuando el cursor está sobre el botón (hover) */
  background-color: #358911; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 0 5px 5px rgba(53, 137, 17, 0.7); /* Agrega un efecto de destello */
}

.botonroles ion-icon {
  font-size: 18px; /* Ajusta el tamaño del icono según tus preferencias */
  font-weight: bold; /* Aplica negrita al icono */
  /* Otros estilos del icono, como color, pueden seguir aquí */
}

/* Agrega esta clase única para el input de crear roles */
.input-crear-roles {
  width: 150px; /* Puedes ajustar el ancho según tus preferencias */
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
  padding: 8px; /* Ajusta el relleno según sea necesario */
  border: 2px solid #000dffd7;
  border-radius: 5px;
  margin-right: 12%;
  margin-left: 5%;
}


/* Modifica el botón de agregar para que tenga el mismo ancho que el input */
.boton-agregar-roles {
  height:30px;
  width:50px; /* Ajusta el ancho para que coincida con el input */
  border: none;
  border-radius: 5px;
  background-color: #358911d7;
  color: white;
  cursor: pointer;
  margin-top: -7px;
  margin-left: -10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.boton-agregar-roles:hover {
  background-color: #358911;
  box-shadow: 0 0 5px 5px rgba(53, 137, 17, 0.7);
}

.boton-agregar-roles ion-icon {
  font-size: 18px;
  font-weight: bold;
}
/* ========================================= Pantallas largas ========================================= */
@media (min-width: 600px) {

  /*  Barra de navegacion */
  .navbar:hover {
    width: 17rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
}

/* ======================================== Pantallas pequeñas ========================================== */
@media (max-width: 600px) {

    /* Barra de navegacion */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .logo {
    display: none;
  }
  .nav-link {
    justify-content: center;
  }
  .seccion-izquierda {
    width: 100%;
  }
  .seccion-derecha {
    width: 40%;
  }
  .barra-categorias {
    margin-left: 1%;
  }
  .entrada-busqueda {
    width: 40%; /* Hacerlo 100% de ancho */
    height: 40px;
    margin: left 40rem;;
  }
}