:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --bg-primary: #252526;
  --bg-secondary: #141418;
}

body {
  color: rgb(0, 17, 255);
  background: rgba(161, 159, 159, 0.777);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(10deg, #e6e6e6, #a8d6f5, #f7d298, #a0d4f798);
  background-size: 400% 400%;
  animation: animacionDegrade 5s linear infinite;
}
@keyframes animacionDegrade {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background: #000dffd7;
}

/* =====================================   Estilos barra de navegacion  =========================================== */

.navbar {
  user-select: none;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: width 0.6s ease;
  z-index: 5; /* Asegurar que esté en la parte superior de otros elementos */  
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.5s;
  z-index: 100;
}
.nav-link-menu {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: 0.5s;
}
.nav-link:hover {
  color: #000dffd7;
}
.link-text {
  display: none;
  margin-left: 1.5rem;
}
.link-icon {
  font-size: 2rem;
  margin-left: 1.5rem;
}
.link-icon-io {
  font-size: 2.2rem;
  margin-left: 1.5rem;
  color: #000dffd7;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Aplicar desenfoque al contenido cuando la barra de navegación se expande */
.navbar:hover ~ .contenido-a-desenfocar {
  filter: blur(2px); /* Valor de desenfoque  */
}

/* ==========================================   Estilos para la barra de búsqueda     ==================================*/
.barra-busqueda {
  background: var(--bg-secondary);
  padding: 1.3rem 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;  /* Fijar la barra en la parte superior */
  width: 99%;  /* Ocupar el 100% del ancho */
}

.entrada-busqueda {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255); 
  border: 2.5px solid #000dffd7; /* Borde */
  border-radius: 7px;
  width: 30%; /* Hacerlo 100% de ancho */
  height: 35px;
}

.entrada-busqueda input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  font-weight: bold; /* texto en negrita*/
  margin-left: 2%;
  width: 100%;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: black; /* color texto barra busqueda*/
}

.icono-busqueda {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  margin-right: 10px;
}

.vendedor {
  display: flex;
  align-items: center;
  margin-right: 9%;
}

.icono-vendedor {
  color: #000dffd7;
  font-size: 1.5rem;
  margin-right: 2rem;

}

.nombre-vendedor {
  color: white;
  font-weight: bold;
  margin-right: 90px;
}

/* Estilo personalizado para la etiqueta <thead> con la clase "contenedor-datos" */
.bordes-izq {
  border-bottom-left-radius: 15px !important; /* Aplica un radio de borde de 15px */
  border-top-left-radius: 15px !important;
}

.bordes-der {
  border-right: 15px !important; /* Aplica un radio de borde de 15px */
  border-top-left-radius: 15px !important;
}


/* ========================================= Estilo Inventario ========================================= */

.tabla-inventario {
  background: transparent;
  padding: 130px 13%; /* Ajustado para una presentación más compacta */
  width: 80%; /* Ancho ajustado para una mejor visualización */
}

.tabla-usuario, .tabla-usuario, .tabla-ventas {
  background:#ffffff;
  padding: 22px; /* Ajustado para una presentación más compacta */
  margin: 40px 100%; /* Centrar la tabla en el contenedor */
  width: 75%; /* Ancho ajustado para una mejor visualización */
  overflow-x: auto; /* Barra de desplazamiento horizontal cuando sea necesario */
}

.table {
  width: 100%;
  border-collapse: collapse; /* Evitar espacios innecesarios entre celdas */
  border-collapse: separate; /* Utiliza el modelo de caja separada para el espaciado */
  border-spacing: 0 10px; /* Agrega un espaciado vertical de 10px entre filas */
}


th, td {
  user-select: none;
  background:#ffffff;
  padding: 12px; /* Espaciado en celdas para mejorar la legibilidad */
  text-align: center; /* Alineación del texto a la izquierda */
  color: #000000;
}

 /* Estilos para la imagen del producto */
 td img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 100px; /* Ajusta la altura máxima según tus preferencias */
  height: auto;
}

th {
  user-select: none;
  background-color: var(--bg-primary); /* Fondo para las celdas del encabezado */
  color: #fff; /* Texto en color blanco en el encabezado */
}

/* Estilos para los iconos de editar y eliminar */
.icono-editar {
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  color: #000dffd7; /* Cambia el color si es necesario */
}

.icono-eliminar {
  user-select: none;
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  color: red; /* Cambia el color si es necesario */
}

/* Estilos para el botón de Pagar en el carrito */
.boton-pagar {
  user-select: none;
  background-color: #000dffd7;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* ======================================== VISTA AGREGAR USUARIOS ========================================== */
/* Estilos para el popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.popup-contenido {
  user-select: none;
  background-color: white;
  border: 2px solid #000dffd7;
  border-radius: 15px;
  max-width: 400px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 8%;
  margin-bottom: 20px; /* Ajusta el valor según el espacio deseado */
  flex: 2;
}

/* Estilos para el botón de cierre en la esquina superior derecha */
.cerrar-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  cursor: pointer;
  font-size: 24px;
}

/* Estilos para los botones de pago en el popup */
.boton-pago {
  user-select: none;
  background-color: #000dffd7;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-pago-salir {
  user-select: none;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para los elementos dentro del popup */
.popup-contenido label {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

/* Estilos para los campos de entrada y selección en el popup */
.popup-contenido input,
.popup-contenido select {
  width: 100%;
  padding: 5px;
  border: 2px solid #000dffd7;
  border-radius: 5px;
  margin-bottom: 10px;
}


/* ========================================= Pantallas largas ========================================= */
@media (min-width: 600px) {

  /*  Barra de navegacion */
  .navbar:hover {
    width: 17rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
}

/* ======================================== Pantallas pequeñas ========================================== */
@media (max-width: 600px) {

    /* Barra de navegacion */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .logo {
    display: none;
  }
  .nav-link {
    justify-content: center;
  }
  .seccion-izquierda {
    width: 100%;
  }
  .seccion-derecha {
    width: 40%;
  }
  .barra-categorias {
    margin-left: 1%;
  }
  .entrada-busqueda {
    width: 40%; /* Hacerlo 100% de ancho */
    height: 40px;
    margin: left 40rem;;
  }
}